<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<a href="/" >Home</a>
<a href="/addbook" >Insert new Book </a>
<a href="/getbooks" >Get all Books</a>
<a href="/addauthor" >Insert a new Author</a>
<a href="/getAuthors" >Get all Authors</a>
<a href="/updatebook" >Update a book by ISBN</a>
<a href="/deletebook" >Delete book by book ISBN</a>
<a href="/updateAuthorNumBooks" >Update Author numBooks by _id</a>
<form action="deletus" method="POST">
    ISBN of Book:
    <input type="number" name="isbn"> </br>
    <button>Submit</button>
</form>



</body>
</html>