<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<a href="/" >Home</a>
<a href="/addbook" >Add Book</a>
<a href="/getbooks" >Get All Books</a>
<a href="/updatebook" >Update Book</a>
<a href="/deletebook" >Delete Book by ISBN</a>
<a href="/deleteauthor" >Delete Books by Author</a>
<form action="deletus" method="POST">
    ISBN of Book:
    <input type="number" name="isbn"> </br>
    <button>Submit</button>
</form>



</body>
</html>