<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <meta charset="UTF-8">
    <title>Get all Authors</title>
</head>
<body>
<a href="/" >Home</a>
<a href="/addbook" >Insert new Book </a>
<a href="/getbooks" >Get all Books</a>
<a href="/addauthor" >Insert a new Author</a>
<a href="/getAuthors" >Get all Authors</a>
<a href="/updatebook" >Update a book by ISBN</a>
<a href="/deletebook" >Delete book by book ISBN</a>
<a href="/updateAuthorNumBooks" >Update Author numBooks by _id</a>
<h2 style = "color: cyan; text-align: center">
    Here, a table of authors currently in the library is generated. There are currently <%= db.length %> Authors!

</h2>
<table>
    <tr>
        <td> Index </td>
        <td> First Name </td>
        <td> Last Name </td>
        <td> Number of Books </td>
        <td> Date of Birth </td>
        <td> State </td>
        <td> Suburb </td>
        <td> Street </td>
        <td> Unit </td>
        <td> Author ID </td>
    </tr>
    <% for (let i=0;i<db.length;i++){ %>
    <tr>
        <td><%= i+1 %> </td>
        <td> <%= db[i].name.firstName %> </td>
        <td><%= db[i].name.lastName %></td>
        <td><%= db[i].numBooks %> </td>
        <td> <%= db[i].dob.toDateString() %> </td>
        <td><%= db[i].address.state %></td>
        <td><%= db[i].address.suburb %></td>
        <td><%= db[i].address.street %></td>
        <td><%= db[i].address.unit %></td>
        <td><%= db[i]._id.toString() %></td>
    </tr>
    <%}%>
</table>


</body>
</html>