<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
<a href="/" >Home</a>
<a href="/addbook" >Insert new Book </a>
<a href="/getbooks" >Get all Books</a>
<a href="/addauthor" >Insert a new Author</a>
<a href="/getAuthors" >Get all Authors</a>
<a href="/updatebook" >Update a book by ISBN</a>
<a href="/deletebook" >Delete book by book ISBN</a>
<a href="/updateAuthorNumBooks" >Update Author numBooks by _id</a>
<h2 style = "color: cyan; text-align: center">
    Here, a table of books currently in the library database is generated. There are currently <%= db.length %> books!

</h2>
<table>
    <tr>
        <td> Index </td>
        <td> Title </td>
        <td> Author ID</td>
        <td> Author First Name</td>
        <td> Author Last Name</td>
        <td> ISBN </td>
        <td> Date of Publication </td>
        <td> Summary </td>
    </tr>
    <% for (let i=0;i<db.length;i++){ %>
    <tr>
        <td><%= i+1 %> </td>
        <td> <%= db[i].title %> </td>
        <td><%= db[i].author._id %></td>
        <td><%= db[i].author.name.firstName %></td>
        <td><%= db[i].author.name.lastName %></td>
        <td><%= db[i].ISBN %> </td>
        <td> <%= db[i].date.toDateString() %> </td>
        <td><%= db[i].summary %></td>
    </tr>
    <%}%>
</table>


</body>
</html>