<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <title>Index</title>
</head>
<body>
<a href="/" >Home</a>
<a href="/addbook" >Insert new Book </a>
<a href="/getbooks" >Get all Books</a>
<a href="/addauthor" >Insert a new Author</a>
<a href="/getAuthors" >Get all Authors</a>
<a href="/updatebook" >Update a book by ISBN</a>
<a href="/deletebook" >Delete book by book ISBN</a>
<a href="/updateAuthorNumBooks" >Update Author numBooks by _id</a>
<h1 style = "color: cyan; text-align: center">
    Welcome to the library. Follow the Buttons to Begin Your Journey!
</h1>

<img src = 'libraryLogo.png'>

</body>
</html>