<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <title>Index</title>
</head>
<body>
<a href="/" >Home</a>
<a href="/addbook" >Add Book</a>
<a href="/getbooks" >Get All Books</a>
<a href="/updatebook" >Update Book</a>
<a href="/deletebook" >Delete Book by ISBN</a>
<a href="/deleteauthor" >Delete Books by Author</a>
<h1 style = "color: cyan; text-align: center">
    Welcome to the library. Follow the Buttons to Begin Your Journey!
</h1>

</body>
</html>