<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <meta charset="UTF-8">
    <title>Invalid Data</title>
</head>
<body>
<br>
<a href="/" >Home</a>
<a href="/addbook" >Add Book</a>
<a href="/getbooks" >Get All Books</a>
<a href="/updatebook" >Update Book</a>
<a href="/deletebook" >Delete Book by ISBN</a>
<a href="/deleteauthor" >Delete Books by Author</a>

<h2 style = "color: cyan; text-align: center">
    You are here because you did something wrong :) Remember to read the instructions at the top of the pages
    <br>
    Follow the buttons and resume your journey
</h2>
</body>
</html>