<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "styles.css">
    <meta charset="UTF-8">
    <title>Update Author numBooks</title>
</head>
<body>
<h2 style = "color: cyan; text-align: center">
    You can add a new book here. All fields must be filled. Be especially careful with ISBN, as you cant change it afterwards :)
</h2>
<form action="/updateNumBooks" method="POST">
    Author ID:
    <input type="text" name="authorID" /> </br>
    Number of Books Written Author:
    <input type="number" name="numBooks" /> </br>
    <button>Submit</button>
</form>
</body>
</html>